.container{

    display:flex;

    flex-direction:column;

    gap:24px;

}

.header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.lista{

    display:grid;

    grid-template-columns:repeat(auto-fill,minmax(320px,1fr));

    gap:20px;

}