.sidebar{

    width:260px;

    min-height:100vh;

    background:#1f2937;

    color:#fff;

    padding:25px 20px;

    transition:.3s;

}

.logo{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:35px;

}

.logo h2{

    font-size:22px;

}

.close{

    display:none;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:10px;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:8px;

    transition:.2s;

}

.sidebar a:hover{

    background:#374151;

}

.sidebar a.active{

    background:#2563eb;

}

.menuButton{

    display:none;

}

.overlay{

    display:none;

}

@media(max-width:900px){

    .menuButton{

        display:flex;

        position:fixed;

        top:15px;

        left:15px;

        z-index:999;

        width:45px;

        height:45px;

        border:none;

        border-radius:8px;

        background:#2563eb;

        color:white;

        font-size:22px;

        cursor:pointer;

        justify-content:center;

        align-items:center;

    }

    .sidebar{

        position:fixed;

        left:-280px;

        top:0;

        z-index:1000;

    }

    .open{

        left:0;

    }

    .close{

        display:block;

        border:none;

        background:none;

        color:white;

        font-size:24px;

        cursor:pointer;

    }

    .overlay{

        display:block;

        position:fixed;

        inset:0;

        background:rgba(0,0,0,.35);

        z-index:998;

    }

}