@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{

    font-size:16px;

}

body{

    font-family:var(--font-family);

    background:var(--color-background);

    color:var(--color-text);

    min-height:100vh;

}

#root{

    min-height:100vh;

}

button{

    cursor:pointer;

}

img{

    max-width:100%;

}