.item{

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px;

    border-radius:10px;

    transition:.2s;

}

.item:hover{

    background:rgba(255,255,255,.08);

}

.item span{

    font-size:15px;

}

.active{

    background:white;

    color:var(--color-primary);

    font-weight:600;

}