.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.icon{

    width:42px;

    height:42px;

    border-radius:10px;

    background:var(--color-primary);

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-weight:bold;

}

.logo h2{

    font-size:18px;

}

.logo span{

    font-size:12px;

    color:var(--color-text-light);

}