.sidebar{

    width:260px;

    background:var(--color-sidebar);

    color:white;

    display:flex;

    flex-direction:column;

    padding:20px;

}

.menu{

    display:flex;

    flex-direction:column;

    gap:8px;

    margin-top:40px;

}